[Unit]
Description=Prometheus Monitoring
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ install_dir }}/prometheus \
  --config.file={{ install_dir }}/prometheus.yml \
  --storage.tsdb.path={{ install_dir }}/data

Restart=on-failure

[Install]
WantedBy=multi-user.target

